.card-item {
  width: 250px;
  border: 1px solid #FAAD00;
  border-radius: 5px;
  padding: 4px; 
  margin-bottom: 16px;
}

.book-cover {
  width: 200px; 
  height: auto; 
  border-radius: 5px;
  margin-bottom: 5px; 
}

.card-item
.title {
  font-size: 14px; 
  font-weight: bold;
  margin-bottom: 5px; 
  color: #335C6E;
}

.card-item
.author {
  font-size: 13px; 
  color: #335C6E;
  margin-bottom: 5px; 
}

.card-item
.button {
  margin-top: 8px; 
  font-size: 12px;
  background-color: #53C2C2;
  color: #FFFFFF;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}

.card-item
.button:hover {
  background-color: #28B8BB; 
}
